In [68]:
import os
import pandas as pd

In [6]:
!pip install pytrends

Collecting pytrends
  Using cached https://files.pythonhosted.org/packages/74/a4/c1b1242be7d31650c6d9128a776c753db18f0e83290aaea0dd80dd31374b/pytrends-4.7.2.tar.gz
Requirement already satisfied: requests in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from pytrends) (2.21.0)
Requirement already satisfied: pandas in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from pytrends) (1.0.0)
Requirement already satisfied: lxml in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from pytrends) (4.3.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from requests->pytrends) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from requests->pytrends) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from requests->pytrends) (2.8)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from pandas->pytrends) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from pandas->pytrends) (1.16.2)
Requirement already satisfied: pytz>=2017.2 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from pandas->pytrends) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/PaulineComising/miniconda3/envs/tensorflow/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas->pytrends) (1.12.0)
Building wheels for collected packages: pytrends
  Building wheel for pytrends (setup.py) ... done
  Stored in directory: /Users/PaulineComising/Library/Caches/pip/wheels/64/ae/af/51d48fbbca0563036c6f80999b7ce3f097fa591fd165047baf
Successfully built pytrends
Installing collected packages: pytrends
Successfully installed pytrends-4.7.2

In [7]:
from pytrends.request import TrendReq

In [81]:
pytrends = TrendReq(hl='en-US', tz=360)
py2 = TrendReq(hl='en-US', tz=360)
py3 = TrendReq(hl='en-US', tz=360)
kw_list = ["Coronavirus"]
pytrends.build_payload(kw_list, cat=0, timeframe='today 3-m', geo='US', gprop='')
py3.build_payload(kw_list, cat=0, timeframe='now 7-d', geo='US', gprop='')
py2.build_payload(kw_list, cat=0, timeframe='today 3-m', geo='US-MD', gprop='')

In [59]:
df = pytrends.interest_over_time()
above = df[df["Coronavirus"] > 50]
above

            Coronavirus  isPartial
date
2020-03-11           56      False
2020-03-12           95      False
2020-03-13           87      False
2020-03-14           79      False
2020-03-15          100      False
2020-03-16           96      False
2020-03-17           87      False
2020-03-18           77      False
2020-03-19           75      False
2020-03-20           76      False
2020-03-21           73      False
2020-03-22           75      False
2020-03-23           69      False
2020-03-24           63      False
2020-03-25           58      False
2020-03-26           59      False
2020-03-27           58      False
2020-03-28           56      False
2020-03-29           55      False
2020-04-03           56      False
2020-04-04           58      False
2020-04-05           58      False
2020-04-06           58      False
2020-04-07           55      False
2020-04-08           51      False

In [84]:
py2.interest_over_time()

            Coronavirus  isPartial
date
2020-01-16            0      False
2020-01-17            0      False
2020-01-18            0      False
2020-01-19            0      False
2020-01-20            0      False
...                 ...        ...
2020-04-10           47      False
2020-04-11           37      False
2020-04-12           33      False
2020-04-13           43      False
2020-04-14           47      False

[90 rows x 2 columns]

In [60]:
pytrends.interest_by_region(resolution='DMA', inc_low_vol=True, inc_geo_code=False)

                                    Coronavirus
geoName
Abilene-Sweetwater TX                        57
Albany GA                                    57
Albany-Schenectady-Troy NY                   73
Albuquerque-Santa Fe NM                      79
Alexandria LA                                62
...                                         ...
Wilmington NC                                69
Yakima-Pasco-Richland-Kennewick WA           65
Youngstown OH                                67
Yuma AZ-El Centro CA                         62
Zanesville OH                                69

[210 rows x 1 columns]

In [82]:
gtReg = py3.interest_by_region(resolution='REGION', inc_low_vol=True, inc_geo_code=False)
gtReg

                      Coronavirus
geoName
Alabama                        82
Alaska                         80
Arizona                        94
Arkansas                       82
California                     91
Colorado                       82
Connecticut                    90
Delaware                       93
District of Columbia           83
Florida                        91
Georgia                        84
Hawaii                         93
Idaho                          96
Illinois                       84
Indiana                        81
Iowa                           83
Kansas                         79
Kentucky                       79
Louisiana                      73
Maine                          87
Maryland                       97
Massachusetts                  91
Michigan                       97
Minnesota                      86
Mississippi                    80
Missouri                       80
Montana                        89
Nebraska                       78
Nevada                         92
New Hampshire                  82
New Jersey                     94
New Mexico                    100
New York                       85
North Carolina                 82
North Dakota                   93
Ohio                           87
Oklahoma                       78
Oregon                         81
Pennsylvania                   92
Rhode Island                   86
South Carolina                 75
South Dakota                  100
Tennessee                      75
Texas                          79
Utah                           87
Vermont                        82
Virginia                       88
Washington                     84
West Virginia                  94
Wisconsin                      85
Wyoming                       100

In [66]:
py2.interest_by_region(resolution='CITY', inc_low_vol=True, inc_geo_code=True)

                              geoCode  Coronavirus
geoName
Baltimore MD                      512          100
Salisbury MD                      576           44
Washington DC (Hagerstown MD)     511           40

In [77]:
incid = (pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-08-2020.csv")
        .groupby("Province_State")
        .agg({"Confirmed":sum,"Deaths":sum,"Recovered":sum,"Active":sum})
        )
incid

                Confirmed  Deaths  Recovered  Active
Province_State
Alabama              2328      66          0       0
Alaska                226       7          0       0
Alberta              1373      26          0       0
Anguilla                3       0          0       3
Anhui                 990       6        984       0
...                   ...     ...        ...     ...
Wyoming               221       0          0       0
Xinjiang               76       3         73       0
Yukon                   7       0          0       0
Yunnan                184       2        173       9
Zhejiang             1266       1       1232      33

[137 rows x 4 columns]

In [83]:
gtReg.join(incid)

                      Coronavirus  Confirmed  Deaths  Recovered  Active
geoName
Alabama                        82       2328      66          0       0
Alaska                         80        226       7          0       0
Arizona                        94       3036      80          0       0
Arkansas                       82       1000      18          0       0
California                     91      18897     495          0       0
Colorado                       82       5655     193          0       0
Connecticut                    90       7781     326          0       0
Delaware                       93       1116      19          0       0
District of Columbia           83       1440      27          0       0
Florida                        91      15456     309          0       0
Georgia                        84       9901     362          0       0
Hawaii                         93        410       5          0       0
Idaho                          96       1210      15          0       0
Illinois                       84      15078     462          0       0
Indiana                        81       5943     203          0       0
Iowa                           83       1145      27          0       0
Kansas                         79       1046      34          0       0
Kentucky                       79       1149      65          0       0
Louisiana                      73      17030     652          0       0
Maine                          87        537      14          0       0
Maryland                       97       5529     124          0       0
Massachusetts                  91      16790     433          0       0
Michigan                       97      20346     959          0       0
Minnesota                      86       1154      39          0       0
Mississippi                    80       2003      67          0       0
Missouri                       80       3209      86          0       0
Montana                        89        332       6          0       0
Nebraska                       78        519      12          0       0
Nevada                         92       2259      72          0       0
New Hampshire                  82        747      13          0       0
New Jersey                     94      47437    1504          0       0
New Mexico                    100        902      13          0       0
New York                       85     151061    6268          0       0
North Carolina                 82       3499      66          0       0
North Dakota                   93        251       4          0       0
Ohio                           87       5148     193          0       0
Oklahoma                       78       1526      79          0       0
Oregon                         81       1181      33          0       0
Pennsylvania                   92      16631     318          0       0
Rhode Island                   86       1450      35          0       0
South Carolina                 75       2417      51          0       0
South Dakota                  100        393       6          0       0
Tennessee                      75       4363      80          0       0
Texas                          79       9777     189          0       0
Utah                           87       1855      13          0       0
Vermont                        82        605      23          0       0
Virginia                       88       3645      66          0       0
Washington                     84       9276     426          0       0
West Virginia                  94        483       4          0       0
Wisconsin                      85       2710     100          0       0
Wyoming                       100        221       0          0       0